
<form name="addServiceForm" id="add-service-form">

     <div class="modal-header green-modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Add Service from File.</h4>
    </div>

     <div class="modal-body" id="add-service-body">

        <!-- Service Name Input -->
        <div class="form-group"
         ng-class="{'has-error' : addServiceForm.serviceName.$invalid && addServiceForm.serviceName.$touched}">

        <!-- Label and input field -->
        <label for="service-name">Service Name</label>
        <input name="serviceName" type="text" class="form-control add-service-fields"
        id="service-name" ng-model="formData.serviceName" ng-pattern="/^[\s+a-zA-Z0-9_\-]*$/" required>

        <!-- Error Feedback -->
        <p ng-show="addServiceForm.serviceName.$error.required && addServiceForm.serviceName.$touched"
        class="help-block">
            Enter a name for the map service.
        </p>
        <p ng-show="addServiceForm.serviceName.$error.pattern && addServiceForm.serviceName.$touched"
        class="help-block">
            Service Names may only contain letters, numbers, dashes or underscores.
        </p>
        </div>

        <!-- Service URL Input -->
        <div class="form-group"
        ng-class="{'has-error' : addServiceForm.serviceFile.$invalid && addServiceForm.serviceFile.$touched}">

             <!-- Error Feedback -->
             <div id="add-service-file-dropper" name="serviceFile" ngf-drop ngf-select ng-model="ImportOverlayService.fileForUpload"
                 class="drop-box" ng-show="!isValidFileSelected()"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" ng-required>
                 Click or drag and drop <b>.pep</b>, <b>.gpkg</b>, or <b>.zip</b>(compact cache)  files here.
                 <br>
                 <br>
                 <div> <i class="fa fa-3x fa-upload" aria-hidden="true"></i> </div>
             </div>

             <div class='has-error'>
                 <p ng-show="!isFileSelected() && attemptedToAddService" class="help-block">
                     No file chosen. A <b>PEP (.pep)</b> file or <b>OGC Geopackage (.gpkg)</b>
                     file is required for upload to GPEP.
                 </p>

                 <p ng-show="!isValidFileSelected() && isFileSelected()" class='help-block'>
                     <b>{{ImportOverlayService.fileForUpload.name}}</b> is neither a .pep nor .gpkg file.  Cannot be uploaded.
                 </p>
             </div>

             <div class="row file-identifier-bootstrap" ng-show="isValidFileSelected()">
                 <div class="col-sm-10">
                    {{ImportOverlayService.fileForUpload.name}}
                 </div>

                 <div class="col-sm-2">
                    <!-- Allows user to remove file they have selected, then upload a different one. -->
                    <i ng-click="removeFile()" class="material-icons remove-file-icon">close</i>
                    <!-- <i ng-click="removeFile()" class="fa fa-lg fa-times remove-file-icon" style="float: right"></i> -->
                 </div>
              </div>

                 <!-- <div> <i>Ready for upload to GPEP server.</i> </div> -->


             <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

        </div>

        <!-- Caching switch only compatible with old bootstrap, not ui-bootstrap -->
        <!-- <div class="form-group">
            <label for="cache">Caching</label>
            <input type="checkbox" name="cache" checked id="cache-switch">
        </div> -->
    </div>

    <div class="modal-footer" id="add-service-footer">
        <button id="add-service-btn" type="submit" class="btn btn-primary"
        ng-click="attemptAddService(addServiceForm)"
        ng-class="{ 'invalid' : addServiceForm.$invalid }">
            Add Service
        </button>
        <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    </div>

</form>
