

<div class="modal-header green-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Start Cleaning Job</h4>
</div>

<div class="modal-body" id="cleaning-modal-body">

	<div ng-show="JobFactory.getSupportedServices('clean').length > 0">
    Would you like to start a cleaning job?
    <br>
    <br>
	</div>

    <div ng-repeat="pass in [{'type':'clean'}]" ng-include="'components/map/views/supported_unsupported_services.html'"></div>

    <i ng-show="JobFactory.getSupportedServices('clean').length > 0">Note:  The area to be cleaned is represented by the <b>red</b> bounding box.</i>
</div>

<div class="modal-footer" id="cleaning-modal-footer">
  <button id="add-service-btn" ng-show="JobFactory.getSupportedServices('clean').length > 0" ng-click="startCleaning(); closeModal();" type="submit" class="btn btn-primary">
      Start Cleaning
  </button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
</div>
