    <div class="modal-header">
        {{name}}
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <p>More info about {{name}} </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
