<!-- Table of Contents -->

<!-- Side Navigation Bar Wrapper -->
<!-- Side Bar List (where service and layer list items are) -->
<div ng-controller="MapController">

    <!-- Drag and Droppable .pep or .gpkg files onto the map view -->
    <import-overlay></import-overlay>

    <!-- side nav component, where services and layers can be selected and deselected -->
    <side-nav count=count on-select-layer="selectLayer(layer, service)" on-deselect-layer="deselectLayer(layer)"
    on-reorder-layers="reorderLayers(orderedLayerIds)" on-toggle-visibility="toggleVisibility(layer)"
    on-base-layer-update="updateBaseLayer(baseLayer)">
    </side-nav>

    <!-- Settings Panel Component -->
    <!-- seeding/packaging/cleaning data binding.
         uses the ServiceStore factory to get the list of selected layers-->
    <settings-panel on-bbox-change=drawBounds(bounds)
     on-zoom-levels-change=acceptNewZoomLevels(zoomLevels)>
    </settings-panel>

    <!-- wraps the buttons for the leaflet map view -->
    <div id="icon-wrapper">
        <div id="draw-wrapper"></div>
    </div>


    <!-- the openlayers map, where openlayers renders map tiles -->
	<div id="map">

    <!-- Snapped Bounds Per Layer -->
		<div class="snapped-boxes-legend-ol"
             ng-show="JobFactory.currentSettingsPanelTab == 'package' && ServiceStore.areAnyLayersSelected() && JobFactory.setLevelsPerLayer && !getBBoxDrawCondition() && $location.url() != '/progress'">
            <div class="snapped-bbox-legend-title-ol">
                Snapped Bounds Per Layer
            </div>

            <div class="boxes-layer-container-ol">
                <div class="snapped-boxes-legend-row-ol">
                    <div class="snapped-bbox-legend-color-key-ol" style="background-color: #d92120;"></div>
                    <span style="width: 90%; font-style: italic;"> User Specified BBOX. </span>
                </div>
                <div ng-repeat="group in LayersGroupedByMaxZooms.groupedLayers">
                    <div class="snapped-boxes-legend-row-ol" ng-repeat="layer in group.layers track by $index">
                        <div class="snapped-bbox-legend-color-key-ol" style="background-color: {{group.color}};"></div>
                        <span style="width: 90%;"> {{layer}} </span>
                    </div>
                </div>
            </div>
      </div>

    <!-- Base Layers -->
		<div id="baselayer-wrapper-div" class="baselayer-div" >
      <div class="snapped-bbox-legend-title-ol" ng-click="showBaseLayers = !showBaseLayers;">
        <i class="service-caret fa fa-caret-up fa-lg ng-hide" style="float: left;" ng-show="showBaseLayers" aria-hidden="true"></i>
        <i class="service-caret fa fa-caret-down fa-lg" style="float: left" ng-show="!showBaseLayers" aria-hidden="true"></i>
        Base Layers
      </div>

			<div uib-collapse="!showBaseLayers" class="base-layer-content-wrapper panel-collapse collapse">
        <md-radio-group class="">
    				<form class="baselayer-form">
                <div ng-repeat="layer in baseLayers" class='base-layer-row'>
                    <!-- <input ng-checked="layer == currentBaseLayer"
                           id="baselayer_{{layer.layer_name}}"
                           type="radio"
                           name="baselayer"
                           class="baselayer-input"
                           ng-click="selectBaseLayer(layer.id)">
                              {{layer.layer_name}}
                    </input> -->

                    <md-radio-button flex

                    ng-value="layer == currentBaseLayer"
                    id="baselayer_{{layer.layer_name}}"
                    name="baselayer"
                    class="baselayer-input"
                    ng-click="selectBaseLayer(layer.id)">

                      {{layer.layer_name}}

                    </md-radio-button>

                    <md-divider class="base-layer-row-divider" ng-hide="$last"></md-divider>
                </div>
    				</form>
         </md-radio-group>
			</div>
		</div>


	</div>
</div>
