<div class="modal-header info-modal-header" id="info-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">{{serviceName}} Information and Options</h4>
</div>
<div class="modal-body" id="info-body">
    <div class="form-group">
        <h4> Basic Info </h4>
        <table class="table table-bordered">
            <tr>
                  <td>Cache Type</td>
                  <td>{{service.cache_type}}</td>
            </tr>

            <!-- Compact Cache Version -->
            <tr ng-if="service.cache_type == 'compact'">
                  <td>Compact Cache Version</td>
                  <td>{{service.cache_version}}</td>
            </tr>

            <tr>
                  <td>Cache Size</td>
                  <td>{{service.cache_size | filesize}}</td>
            </tr>

            <tr>
                  <td>Can Pull Additional Tiles?</td>
                  <td ng-if=!service.has_sources>No.  No tiles can be added to the cache.</td>
                  <td ng-if=service.has_sources>Yes.  Tiles can be added to the cache.</td>
            </tr>
        </table>

        <h4>GetCapabilities XML Files</h4>
        <table class="table table-bordered">
            <tr>
                <td>WMS</td>
                <td style="word-break: break-all">
                    <a ng-href={{wmsUrl}}>{{wmsUrl}}</a>
                </td>
            </tr>
            <tr>
                <td>WMTS</td>
                <td style="word-break: break-all">
                    <a ng-show="isCachingEnabled" ng-href={{wmtsUrl}}>{{wmtsUrl}}</a>
                    <p ng-show="!isCachingEnabled">Enable caching to get WMTS capabilities.</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="enable-caching-checkbox" ng-model="desiresCache" ng-disabled="!isCachingAvailable">
        <label for="enable-caching-checkbox">
            Enable Cache
        </label>
   </div>

   <div class="button">
       <button id="add-service-btn" type="submit" class="btn btn-primary"
        ng-click="enableCache(desiresCache)" ng-disabled="!isCachingAvailable">
           Apply
       </button>
   </div>

   <div class="has-error">
       <div ng-show="!isCachingAvailable" class="help-block">
           Caching is currently not able to be changed for this service.
       </div>
   </div>


</div>
