<!-- pass variable is passed as parameter using ng-repeat hack. -->
<div ng-if="JobFactory.getUnsupportedSelectedServices(pass.type).length > 0" ng-init="word2 = JobFactory.getModalWord2(pass.type)">
	<b ng-show="JobFactory.getSupportedServices(pass.type).length != 0">Some selected services do not support {{word2}}.</b>
	<b ng-show="JobFactory.getSupportedServices(pass.type).length == 0">All selected services do not support {{word2}}.</b>

	
    <div style="margin-left: 1em;" ng-init="word = JobFactory.getModalWord(pass.type)">
        <br>
        These services <b>will not</b> be {{word}}:

        <ul>
            <li ng-repeat="service in JobFactory.getUnsupportedSelectedServices(pass.type)">
                {{service.name}} - {{JobFactory.getUnsupportedReason(pass.type, service)}}
            </li>
        </ul>
		<div ng-show="JobFactory.getSupportedServices(pass.type).length > 0">
			These services <b>will</b> be {{word}}:
			<ul>
				<li ng-repeat="service in JobFactory.getSupportedServices(pass.type)">
					{{service.name}}
				</li>
			</ul>
		</div>
    </div>
</div>
