.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.navbar-default {
/*    background: rgba(15, 54, 95, 0.85);*/
    background: rgba(13, 69, 101, 0.9);
    border: none;
    color: white !important;
}

.navbar {
    position: fixed;
    margin-bottom: 0px;
    z-index: 1000;
    width: 100%;
    color: white !important;
    border-radius: 0;
    top: 0;
}

.navbar-default .navbar-brand {
    color: white;
    cursor: pointer;
}

.navbar-toggle {
    border: none;
    margin-bottom: 0;
    height: 50px;
    margin-top: 0;
}

.nav-link-menu {
    font-size: 1.5em !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #173b5d;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    /* color: #5e5e5e; */
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #0a2542
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #0a2542;
}

#brand {
    float: right;
    margin-left: 15px;
}

#menu-toggle {
    z-index: 1000;
    font-size: 1.1em !important;
    float: left;
}
