// Makes the map fill up the entire window
#map {
    width: 100%;
    height: 100%;
	margin-left:auto;
    margin-right:auto;
    position: absolute;
    padding-top: 50px;
}

.ol-zoom {
   left: unset;
   top: unset;
   right: 10px;
   bottom: 40px;
}

.draw-div {
	left: unset;
	top: unset;
	right: 10px;
	bottom: 180px;
	width: 60px;
	height: 52px;
}

#map-draw-button {
	margin: auto auto 5px auto;
	width: 95%;
}

#map-reset-button {
	margin: auto;
	width: 95%;
}


.current-zoom-div {
	left: unset;
	top: unset;
	right: 10px;
	bottom: 100px;
}

.grid-div {
	left: unset;
	top: unset;
	width: 60px;
	right: 10px;
	bottom: 140px;
}

#map-grid-button {
	margin: auto;
	width: 95%
}

#popup-div {
	width: 180px;
}

#popup-button {
	width: 100%;
	font-size: 12px;
}

.ol-box {
	border: 10px solid #ff0000;
}

#base-layers-button-div {
	top: 40px;
	left: unset;
	right: 10px;
	bottom: unset;
	width: 140px;
}

#base-layers-button {
	width: 100%;
}

.baselayer-form {
	display: table;
}

.baselayer-paragraph {
	display: table-row;
}

.baselayer-input {
	display: table-cell;
}

.baselayer-div {
  background-color: white;
  position: fixed;
  width: 225px;
  top: 60px;
  left: unset;
  right: 10px;
  bottom: unset;
  z-index: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.37);
}


  .snapped-boxes-legend-ol {
      background-color: white;
      width: 250px;
      position: fixed;
      right: 250px;
      top: 60px;
      z-index: 1;
      color: #595959;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.37);
      border-radius: 2px;
      cursor: default;
  }

  .snapped-boxes-legend-row-ol {
	display: flex;
	word-break: break-all;
	margin: 5px;
	margin-top: 8px;
  }

  .snapped-bbox-legend-title-ol {
  	background-color: #eaeaea;
  	border-color: #c9c9c9;
  	text-align: center;
  	border-bottom-width: 1px;
  	border-top-width: 0px;
  	border-left-width: 0px;
  	border-right-width: 0px;
  	border-style: solid;
  	padding: 10px;
  	font-weight: bold;
  	font-size: 16px;
  	color: #3a3a3a;
  }

  // .snapped-bbox-legend-title-ol:focus {
  //   outline: 0;
  // }

  .snapped-bbox-legend-color-key-ol {
	  margin-top: 0.2em;
	  width: 1em;
	  height: 1em;
	  margin-right: 10px;
  }

    .boxes-layer-container-ol {
  	padding-left: 13px;
  	padding-right: 13px;
  	padding-top: 4px;
  	padding-bottom: 8px;
  	max-height: calc(100vh - 177px);
  	overflow-y: auto;
    }

    .base-layer-content-wrapper {
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 4px;
      padding-bottom: 3px;
      word-break: break-all;
    }

    .base-layer-row {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    //unchecked
    // .baselayer-input md-radio-button , md-radio-button.md-checked ._md-off{
    //     border-color: blue;
    // }
    // //checked
    // .baselayer-input md-radio-button , md-radio-button.md-checked ._md-on{
    //     background-color: blue;
    // }


   //  md-radio-button .md-on {
   //    background-color: blue;
   //  }
   //
   // md-radio-button .md-off {
   //   background-color: gray;
   // }

  // md-radio-button .md-container {
  //   top: 10px;
  // }

  md-radio-button:focus {
    outline: 0;
  }

  .base-layer-row-divider {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 9px;
  }

  md-radio-button .md-container, md-radio-button .md-off, md-radio-button .md-on {
    width: 18px;
    height: 18px;
  }

  md-radio-button.md-checked .md-off {
      border-color: rgba(105, 138, 190, 0.87);
  }

  md-radio-button .md-on {
      background-color: rgba(105, 138, 190, 0.87);
  }

  md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
      border-color: rgba(0, 0, 0, 0.42);
  }

  .snapped-bbox-legend-title-ol:focus {
      outline: 0;
  }

  .snapped-bbox-legend-title-ol .service-caret {
      color: #bbbbbb;
      padding-right: 5px;
      padding-top: 2px;
      margin-left: 5px;
      float: left;
  }
