#settings-nav[class~=open] {
    left: 330px;
    transition: .3s;
    -webkit-transition: .3s;
}

#settings-nav {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: black;
    height: auto;
    top: 51px;
    bottom: 0;
    left: -400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
    /*width: 600px;*/
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /*    margin:10px;*/
    background: #efefef;
    overflow-x: hidden;
    /* only side-nav-list should be scrollable, not whole side-nav wrapper*/
    overflow-y: hidden;
    /* Disable horizontal scroll */
    /* Place content 60px from the top */
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
    transition: .3s;
    -webkit-transition: .3s;
}

.settings-nav-hidden {
    left: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.settings-nav-closed {
    left: -400px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*#settings-nav #angularTab {
    height: 95%;
}*/

#settings-nav .job-panel-content {
    position: absolute;
    overflow-y: auto;
    border: 1px solid #ddd;
    background: white;
    padding: 23px;
    padding-top: 18px;
    border-top: none;
    top: 51px;
    right: 10px;
    left: 10px;
    bottom: 10px;
}


/* Gives some breathing room right beneath panel tabs */

/*.settings-panel-content-wrapper {
    margin-top: 0px;
}*/

#settings-nav .bbox-input {
    width: 70%;
    height: 28px;
    float: right;
    margin-right: 28px;
}

.bbox-form-group {
  clear: both;  /* otherwise floated error text will muck things up. need
                 to clear the float:right from the help text */
  margin-top: 20px;
}

.bbox-help-block {
  float: right;
  text-align: right;
  margin-right: 27px;
}

/*.bbox-label {
    margin-left: 15px;
}*/

#bounding-box-group-label {
    margin-bottom: -6px;
}

.input-wrapper {
    margin-bottom: 15px;
}

.layer-selection-help-block {
    margin-bottom: 20px;
}

/*.zoom-range-label {
    font-size: 21px;
}*/

/*#zoom-range-label-wrapper {
    margin-bottom: 10px;
}

#bbox-wrapper {
    margin-bottom: 23px;
}*/

.job-panel-label {
    font-size: 18px;
    margin-bottom: 10px;
}

#entire-world-btn,
#draw-bounds-btn,
#show-zoom-levels-modal-button {
    width: 48.9%;
    margin-top: 5px;

    background-color: white;
    border-width: 0.5px;
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*#entire-world-btn {
    margin-left: 12px;
}*/

#draw-bounds-btn {
    margin-left: 0.5%;
}

#cleaning-btn {
    margin-top: 5px;
}

.space-available-cleaning-wrapper {
    width: 100%;
    float: left;
    clear: both;
}

.space-available-bar {
    margin-top: 5px;
}

/* Medium Devices, Desktops

@media only screen and (max-width: 769px) {
    #side-nav {
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}*/

/*CSS for pull out settings tab*/

#verticalTab ul {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-font-smoothing: antialiased;
    transform: rotate(90deg);
    position: absolute;
    z-index: 3;
    left: -400%;
    top: 114px !important;
    transform-origin: 50%  51%; /*Makes text not blurry in chrome*/
}

.verticalTabOpen ul {
    -webkit-font-smoothing: antialiased;
    left: 630px !important;
    transition: .3s;
    -webkit-transition: .3s;
}

#verticalTab .nav>li>a:hover {
    text-decoration: none;
    background-color: #336e90 !important;
}


.verticalTabHidden ul {
    left: 300px !important;
    transition: .3s;
    -webkit-transition: .3s;
}

#settings-nav ul {
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    position: relative;
    z-index: 3;
    left: initial !important;
    top: initial !important;
}
#settings-nav .nav>li>a:hover {
    text-decoration: none;
    background-color: white !important;
    cursor: pointer;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
}

                                      /*************** Seeding ********************/
/*Wrapping uib-datepicker-popup with in element with the class
"ui-datepicker-float-above" will cause the popup to float above
the date selector input bar*/
.datepicker-float-above [uib-datepicker-popup-wrap] {
    position: absolute;
    bottom: 34px;
}

/*Adds padding around the datepicker inside the popup box*/
.datepicker-popup-padding .uib-datepicker {
  padding-left: 5px;
  padding-right: 5px;
}

#cleaning-calendar {
  padding-left: 0px;
}

/*Enlarges shadow around calendar popup, looks cleaner*/
#cleaning-calendar .uib-datepicker-popup {
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.31);
}

#settings-nav {
    md-switch.md-checked .md-thumb {
      background-color: #0db9f0;
    }
    md-switch.md-checked .md-bar {
      background-color: rgba(13, 185, 240, 0.5);
    }

    md-switch .md-container{
        cursor: pointer !important;
    }
}
