.rzslider .rz-pointer {
    top: -6px;
    z-index: 3;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #0db9f0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}


.rzslider .rz-pointer:after {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 6px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
    display:none
}

.rzslider .rz-bar {
    height: 3px;
}

.rzslider {
    margin-top: 10px;
    margin-bottom: 4px;
}
