<!-- Drag and Droppable .pep or .gpkg files onto the map view -->
<div ng-class="{'disabled' : !($ctrl.service.isOverlayEnabled())}" id='drag-and-drop-area' ngf-drop ngf-select
     ng-model="$ctrl.service.fileForUpload"
     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" ng-required>

    <div class='inner-area'>
        <div class="description-text-full-screen">
            Drag and drop <b>.pep</b>, <b>.gpkg</b>, or <b>.zip</b>(compact cache)  files here.
        </div>

        <div class="icon-full-screen">
            <i class="fa fa-5x fa-upload"></i>
        </div>
    </div>
</div>
