
<div class="job-progress-component">

    <!-- Header with Job Information -->
    <div class="job-header">
        <div class="row">
            <div class="col-xs-2">
                 <div class="status-div">
		    <!-- BUG sometimes an extra icon will appear.  happens when status changes, and for a short period
                    of time there is both a checkbark and loading circle present at the same time. -->
                    <!-- <span ng-switch="$ctrl.job.status">
                        <i ng-switch-when="complete" class="material-icons job-status-icon done-color">check</i>
                        <i ng-switch-when="canceled" class="material-icons job-status-icon cancelled-color">clear</i>
                        <i ng-switch-when="failed" class="material-icons job-status-icon failed-color">error</i>
                        <i ng-switch-when="inProgress" style="color:#ddd; vertical-align:12px; line-height:60px; margin-right: 10px;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <i ng-switch-default>?</i>
                    </span> -->

                    <!-- Job Status -->
                    <!-- ng-shows are more performant on quick state changes than an ng-switch (which uses ng-ifs under the hood).
                    this used to use an ng-switch, but it resulted in a bug where multiple status icons would show at once. -->
                    <i ng-show="$ctrl.job.status == 'complete'" class="material-icons job-status-icon done-color">check</i>
                    <i ng-show="$ctrl.job.status == 'canceled'" class="material-icons job-status-icon cancelled-color">clear</i>
                    <i ng-show="$ctrl.job.status == 'failed' && !($ctrl.job.job_type == 'package')" class="material-icons job-status-icon failed-color">error</i>
					<i ng-show="$ctrl.job.status == 'failed' && ($ctrl.job.job_type == 'package')" ng-init="package_task = $ctrl.job.tasks[0]" ng-click="$ctrl.showTaskError(package_task)" type="submit" class="material-icons job-status-icon failed-color">error</i>
                    <i ng-show="$ctrl.job.status == 'inProgress'" class="progress-spinner fa fa-spinner fa-pulse fa-2x fa-fw"></i>

                    <!-- Job Type -->
                    <span ng-switch="$ctrl.job.job_type">
                        <i ng-switch-when='package' class="fa fa-lg fa-cubes package-color type-icon"></i>
                        <i ng-switch-when='seed' class="fa fa-lg fa-cloud-download seed-color type-icon"></i>
                        <i ng-switch-when='clean' class="fa fa-lg fa-eraser clean-color type-icon"></i>
                        <i ng-switch-when='export' class="fa fa-lg fa-share export-color type-icon"></i>
                    </span>
                </div>
            </div>

            <!-- Where job name and progres bar are shown -->
            <div class="col-xs-4 job-name-font">
                <div>Job {{$ctrl.job.id}} - {{$ctrl.job.job_type}}
                  <!-- <span class="canceled-text" ng-if="$ctrl.job.status == 'canceled'">
                      Canceled
                  </span> -->

                </div>

                <span ng-switch="$ctrl.job.status">
                    <span ng-switch-when="canceled" class="canceled-text">
                        Cancelled
                    </span>

                    <span ng-switch-when="complete" class="complete-text">
                        Complete
                    </span>

                    <span ng-switch-when="inProgress">
                        <uib-progressbar
                        ng-class="{'canceled': $ctrl.job.status == 'canceled'}" animate="true"
                        value="$ctrl.job.percent" type="success">
                        </uib-progressbar>
                    </span>

                    <span ng-switch-default>
                        {{$ctrl.job.status}}
                    </span>

                </span>
            </div>

            <!-- Where date created and zoom level is show -->
            <div class="col-xs-4" style="padding-top:4px;">

                <!-- Date Created -->
                <b>Created</b> {{$ctrl.job.created_at | date: "MMM d, y"}} at {{$ctrl.job.created_at | date: "shortTime"}}

                <!-- Zoom Level -->
                <div ng-if="$ctrl.job.job_type !== 'export'">
                    <b>Zoom Levels</b>
                    <span ng-if="$ctrl.job.min_zoom == null || $ctrl.job.max_zoom == null">
                        Vary
                    </span>
                    <span ng-if="$ctrl.job.min_zoom != null && $ctrl.job.max_zoom != null">
                        {{$ctrl.job.min_zoom}} - {{$ctrl.job.max_zoom}}
                    </span>
                    <br>
                </div>

                <!-- Zoom Level for Export Jobs only -->
                <div ng-if="$ctrl.job.job_type == 'export'">
                    <b>Zoom</b> All Levels<br>
                </div>
            </div>

            <!-- Gear Dropdown toggle -->
            <div class="col-xs-2" style="text-align: center" uib-dropdown>
                <i class="fa fa-cog fa-lg" uib-dropdown-toggle></i>
                 <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">

                <!-- Job Info -->
                <li role="menuitem" ng-click="$ctrl.openJobDetailsModal();">
                    <a href="" class="disabled"><i class="fa fa-info-circle info-color fa-fw"></i>&nbsp; View Job Info </a>
                </li>

                <li role="menuitem" ng-if="$ctrl.job.status == 'failed' && ($ctrl.job.job_type == 'package')"
                    ng-init="package_task = $ctrl.job.tasks[0]" ng-click="$ctrl.showTaskError(package_task)">
                    <a href=""><i class="fa fa-times fa-fw red-cancel-color"></i>&nbsp; Show Failure Message</a>
                </li>

                <!-- Cancel Job -->
                <li ng-if="$ctrl.job.status == 'inProgress'" role="menuitem" ng-click="$ctrl.openCancelJobModal();">
                    <a href=""><i class="fa fa-times fa-fw red-cancel-color"></i>&nbsp; Cancel Job</a>
                </li>

                <!--Delete Job -->
                <li ng-if="$ctrl.job.status == 'complete' || $ctrl.job.status == 'canceled' || $ctrl.job.status == 'failed'"
                 role="menuitem" ng-click="$ctrl.openCancelJobModal();">
                    <a href=""><i class="fa fa-trash-o fa-fw red-cancel-color"></i>&nbsp; Clear Job</a>
                </li>

                <!-- Packaging Job -->
                <li ng-if="$ctrl.job.job_type == 'package' && $ctrl.job.percent == 100 && $ctrl.job.status == 'complete'" class="divider"></li>
                <li ng-if="$ctrl.job.job_type == 'package' && $ctrl.job.percent == 100 && $ctrl.job.status == 'complete'"
                    role="menuitem" ng-click="$ctrl.downloadAllGeopackages()">
                    <a href=""><i class="fa fa-download fa-fw"></i>
                      &nbsp;

                      <span ng-if="$ctrl.job.cache_format == 'geopackage'">Download GeoPackage</span>
                      <span ng-if="$ctrl.job.cache_format.startsWith('compact')">Download Compact Cache</span>
                    </a>
                </li>
                <li ng-if="$ctrl.job.job_type == 'export' && $ctrl.job.percent == 100 && $ctrl.job.status == 'complete'"
                    role="menuitem" ng-click="$ctrl.downloadTask($ctrl.job.tasks[0])">
                    <a href=""><i class="fa fa-download fa-fw"></i>
                        &nbsp;
                        Download PEP File
                    </a>
                </li>

            </ul>
            </div>
        </div>
    </div>


    <!-- Tasks -->

    <!-- Note: A package job always contains only one task, so don't show it if job is packaging. -->
    <div ng-if="!($ctrl.job.job_type == 'package')">
        <!-- Holds information for one task associated with its job
        Note: A task is associated with one service -->
        <div class="task-panel" ng-repeat="task in $ctrl.job.tasks | limitTo: $ctrl.showAllTasks[$ctrl.job.id] ? 999 : $ctrl.numTasksToShow track by task.id">
            <div class="row">
                <div class="task-panel-service-name col-xs-4 col-xs-offset-2" title="{{task.name}}">
                    {{task.name}}
                </div>


                <div class="col-xs-2">

                    <span ng-switch="task.status">
                        <span class="cancel-text-color"  ng-switch-when="canceled">Cancelled</span>
                        <span class="complete-text-color" ng-switch-when="complete">Complete</span>
                        <span class="cancel-text-color" ng-switch-when="failed">Failed</span>
                        <span ng-switch-default>
                            <uib-progressbar class="task-progress"
                             animate="true" value="task.progress.percent" type="success"></uib-progressbar>
                       </span>
                    </span>
                </div>


                <div class="col-xs-2" style="text-align: right">
                    <!-- is connected to backend: {{$ctrl.ServiceFactory.isConnectedToBackend()}} -->
                    <span ng-if="task.progress.eta && $ctrl.ServiceFactory.isConnectedToBackend()" >
                        <time-remaining eta="task.progress.eta"></time-remaining>
                    </span>
                    <span ng-if="!task.progress.eta.length && task.progress.percent == 0">In Queue</span>
                </div>

                <!-- Download Geopackage Icon -->
                <div class="col-xs-2" style="text-align: center">
                    <!-- If there is failture information available, display it -->
                    <span ng-if="task.failure_message != ''" ng-click="$ctrl.showTaskError(task)" type="submit">
                        <i class="material-icons error-icon">announcement</i>
                    </span>

                </div>
            </div>
        </div>

        <div class="task-panel" ng-if="$ctrl.job.tasks.length > $ctrl.numTasksToShow" ng-click="$ctrl.toggleShowAllTasks()">
            <div class='row'>
                <div class="col-xs-12" style="color: #337ab7; cursor:pointer; text-align:center;">
                    <span style="margin-top:1px;">{{ $ctrl.showAllTasks[$ctrl.job.id] ? 'Show less ...' : 'Show more ...'}}</span>
                </div>
                 <!--<div class="col-xs-4 col-xs-offset-2" style="color: #337ab7; cursor:pointer;">
                    <span>{{ $ctrl.showAllTasks[$ctrl.job.id] ? 'Show less ...' : 'Show more ...'}}</span>
                </div>-->
            </div>
        </div>

    </div>
</div>
