<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="MainApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="MainApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="MainApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="MainApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GPEP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/globe_green.ico" type="image/x-icon" />

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">

	<link rel="stylesheet" href="libraries/ol/ol.css">


    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="directives/mfb/mfb.css">
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>

    <!-- Use for development -->
    <!-- Note: app.css provides source mapping to original scss partials, and also
  auto-updates whenever scss partials are changed. -->
    <link rel="stylesheet" href="style/app.css">

    <!-- Use for production -->
    <!-- Note:  no source mapping to scss partials, and is only built once when the npm
  server is spun up (npm start) -->
    <!-- <link rel="stylesheet" href="style/app.min.css"> -->

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- The ondragstart and ondrop attributes disable drag dropping across the frontend.
    This is important, as any dragging and dropping will accidentally trigger the pep file
    import overlay to show on the frontend, which we only want when a user drags in a file
    from outside -->
    <div id="entire-website-wrapper" ng-controller="HeaderController"
    ondragstart="return false;" ondrop="return false;">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" sidenav-directive="state">
                    <a class="navbar-brand" ng-click="$root.toggleSideNav(); setURL('/')">
                        <i class="fa fa-bars fa-2x" id="menu-toggle" aria-hidden="true"></i>
                        <p id="brand">GPEP</p>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true" id="nav-link-menu"></i>
                    </button>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-click="setURL('/')" tabindex="0"><a>Map</a></li>
                        <li ng-click="setURL('/progress')"><a>Progress</a></li>
                        <li><a href="resources/GPEP v2 Guide.pdf" target="_blank">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Simply manual routing implementation, keeps controllers persistant across views -->
        <!-- TODO Recommend switching to UI Router with Sticky States in separate pull
        https://christopherthielen.github.io/ui-router-extras/#/sticky -->
        <!-- <div ng-show="!isCurrentURL('/progress')"> -->

        <!-- MAP PAGE -->
        <!-- <div ng-class="{'make-hidden': !$root.isMapCurrentView()}"> -->
		<div>
            <div ng-include="'components/map/views/map.html'"></div>
        </div>

        <!-- PROGRESS PAGE -->
        <div ng-show="$root.isCurrentURL('/progress')">
            <div ng-include="'components/progress/progress.html'"></div>
        </div>

        <!-- Other Tabs yet to be implemented: Server, Help, Sign In -->
    </div>
</body>
<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

<script src="libraries/ol/ol-debug.js"></script>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>

<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/palette.js/palette.js"></script>

<!-- Non-Bower 3rd party libraries -->
<!-- (these libraries cannot be installed via bower) -->
<script src="app.js"></script>
<script src="directives/mfb/mfb-directive.js"></script>

<!-- MapApp Module -->
<script src="components/map/map.js"></script>

<!-- Overlay which appears when dragging files onto map view -->
<script src="components/import-package-overlay/import-overlay-service.js"></script>
<script src="components/import-package-overlay/import-overlay-component.js"></script>

<script src="components/map/openlayers_controller.js"></script>

<script src="components/map/add_service_modal.js"></script>
<script src="components/map/add_service_from_file_modal.js"></script>
<script src="components/map/seeding_packaging_cleaning_modals.js"></script>
<script src="components/map/service_info_modal.js"></script>
<script src="components/map/delete_service_modal.js"></script>

<!-- ProgressApp Module -->
<!--<link href="components/progress/progress.css" rel="stylesheet">-->
<script src="components/progress/progress_control.js"></script>
<script src="components/progress/package_name_modal.js"></script>
<script src="components/progress/job_details_modal.js"></script>
<script src="components/progress/cancel_job_modal.js"></script>
<script src="components/zoom-levels-modal/zoom-levels-modal.js"></script>

<script src="shared/utilities.js"></script>
<script src="shared/server.js"></script>
<script src="shared/job.factory.js"></script>
<script src="shared/service.store.js"></script>
<script src="shared/layers-grouped-by-max-zooms.js"></script>

<script src="components/job-filter-settings/job-filter-settings.js"></script>
<script src="components/job-progress/job-progress.js"></script>
<script src="components/side-nav/side-nav.js"></script>
<script src="components/settings-panel/settings-panel.js"></script>
<script src="components/time-remaining/time-remaining.js"></script>

</html>
