#zoom-levels-form {
    $purple: #856cbd;

    md-content {
        background-color: white;
    }

    md-list {
        padding: 0px;
    }

    div {
        word-break: break-all;
    }

    .left {
      float: left
    }

    .service-name {
      padding-left: 67px;
      margin-bottom: 15px;
      font-size: 20px;
      padding-top: 10px;
    }

    .layer-list-item {
      font-size: 15px;

    }

    .layer-list-item:hover {
        background-color: rgba(224, 224, 224, 0.08);
    }

    .layer-name-container {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .no-focus-outline:focus {
        outline:0;
    }

    .layer-checkbox {
      padding-right: 19px;
      margin-left: 3px;
      pointer-events: none;
      margin-top: 26%;
    }

    .first-service-name {
        margin-top: 0px;
    }

    md-content {
        overflow: auto;
        max-height: 75vh;
    }

    md-checkbox.md-checked .md-ink-ripple {
      // color: rgba(67, 118, 184, 0.87)
      color: $purple
    }
    md-checkbox.md-default-theme.md-checked .md-icon,
    md-checkbox.md-checked .md-icon {
      // background-color: rgba(67, 118, 184, 0.87)
      background-color: $purple
    }


    // outline color of checkboxes
    md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
        border-color: rgba(0, 0, 0, 0.4);
    }


    .rzslider .rz-pointer {
      background-color: #efefef;
      outline-width: 0;
      border-color: #a2a2a2;
      border-width: 1px;
      border-style: solid;
    }

    .checked .rzslider .rz-pointer {
      background-color: #856cbd;
      outline-width: 0;
      border-color: #545454;
    }

    .rzslider .rz-bar.rz-selection {
      background-color: #c7c7c7;
      outline-width: 0;
      border-color: #cdcdcd;
      border-width: 1px;
      border-style: solid;
      //background-color: #a5a5a5;
      //outline-width: 0; // remove blue box around round knob in chrom when selected
    }

    // center slider vertically
    .rzslider {
        margin-bottom: 6px;
    }

    .checked .rzslider .rz-bar.rz-selection {
      background-color: #856cbd;
      border-color: #a6a6a6;
    }

    // extends the height of the bounding box the slider widget, which blocks
    // clicks from hitting the md-item element underneath, which toggles the
    // checkbox for that layer
    .rzslider .rz-bar-wrapper {
      height: 50px;
      padding-top: 25px;
      margin-top: -25px;
    }

    md-input-container {
      margin: 0;
      padding: 0;
    }

    .zoom-number-input {
        margin-bottom: -80%;
        text-align: center;
    }

    .zoom-number-input-container {
        width: 65px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 16px;
    }

    // number input colors
    md-input-container.md-default-theme .md-input, md-input-container .md-input {
        //border-color: rgba(0, 0, 0, 0.39);
        border-color: rgba(0, 0, 0, 0.34);
    }

    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
    md-input-container:not(.md-input-invalid).md-input-focused .md-input,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
    md-input-container:not(.md-input-invalid).md-input-resized .md-input {
        border-color: rgb(133, 108, 189);
    }

    .click-shielder {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        left: 35%;
        outline-width: 0;
        //background-color: brown;
    }

    .flat-button {
        background-color: white;
        outline-color: #a8a8a8;
        outline-width: 1px;
        outline-style: solid;
        border-radius: 4px;
        outline-offset: 0px;
    }

    .right-padding-button {
        margin-right: 10px;
    }

    .green {
      color: #6eaa67;
    }

    .red {
      //color: #b95d5d;
      color: #b28383;
    }

    .slider-mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10000;
        background-color: brown;
    }

    .min-max-header {
        //background-color: brown;
        /* outline-color: black; */
        /* outline-style: solid; */
        color: #666666;
        outline-width: 2px;
        font-size: 17px;
        position: relative;
        padding-top: 7px;
        margin-left: 40.5%;
        margin-right: 37px;
    }

    .gray-underline {
        border-bottom: 1px solid #a0a0a0;
    }

    .no-layers-selected {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      font-size: 20px
    }
}
