
<form ondragstart="return false;" ondrop="return false;" name="addServiceForm" id="zoom-levels-form">

     <div class="modal-header purple-modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Set Zoom Levels Individually</h4>
    </div>

    <div ng-show="$ctrl.relevantServiceLayers.length == 0"
     class="no-layers-selected">
        <div>
            No layers are selected.
        </div>
    </div>

    <md-content ng-show="$ctrl.relevantServiceLayers.length != 0">
      <!-- Min Max Header -->
      <div layout="row" class="min-max-header">
          <span class="gray-underline">Minimum</span>
          <span class="gray-underline" style="position: absolute; right: 0px;">Maximum</span>
      </div>

      <!-- Services and Layers -->
      <multi-checkbox-container>
      <md-list ng-repeat="service in $ctrl.relevantServiceLayers track by service.id">
        <h3 class="service-name unselectable" ng-class="{'first-service-name': $first}">
          {{service.name}}
        </h3>
        <md-divider></md-divider>
        <md-list-item class="md-1-line layer-list-item"
          ng-class="{'checked': ServiceStore.zoomLevelModalSettings[service.id][layer.id].$isSelected}"
          ng-repeat="layer in service.layers track by layer.id">

          <md-checkbox style="display: none" multi-checkbox ng-model="ServiceStore.zoomLevelModalSettings[service.id][layer.id].$isSelected"
           aria-label="input">
          </md-checkbox>

          <div class="no-focus-outline" ng-click="onClickedLayer(getIndex(service, layer), $event)">
            <md-checkbox multi-checkbox class="layer-checkbox" ng-checked="ServiceStore.zoomLevelModalSettings[service.id][layer.id].$isSelected"
             aria-label="input">
            </md-checkbox>
          </div>

          <div flex="30" class="layer-name-container no-focus-outline unselectable md-list-item-text" disabled
          ng-click="onClickedLayer(getIndex(service, layer), $event)">
            {{layer.title}}
          </div>

          <md-input-container class="md-block zoom-number-input-container">
            <!-- <label>Company (Disabled)</label> -->
            <input select-on-click type="number" class="zoom-number-input"
            ng-mousedown="setActive(service, layer); $event.stopPropagation()"
            ng-click="$event.stopPropagation()"
            ng-model="ServiceStore.zoomLevelModalSettings[service.id][layer.id].minValue"
            aria-label="input">
            <!-- <input type="number" value=5 select-on-click /> -->
          </md-input-container>

          <div flex="55">
            <rzslider rz-slider-model="ServiceStore.zoomLevelModalSettings[service.id][layer.id].minValue"
                rz-slider-high="ServiceStore.zoomLevelModalSettings[service.id][layer.id].maxValue"
                rz-slider-options="$ctrl.slider.options"
                ng-mousedown="hello(); $event.stopPropagation()"
                ng-click="$event.stopPropagation()"
                aria-label="input">
            </rzslider>
          </div>

          <md-input-container class="md-block zoom-number-input-container">
            <input select-on-click type="number" class="zoom-number-input"
            ng-mousedown="setActive(service, layer); $event.stopPropagation()"
            ng-click="setActive(service, layer); $event.stopPropagation()"
            ng-model="ServiceStore.zoomLevelModalSettings[service.id][layer.id].maxValue"
            aria-label="input">
          </md-input-container>

          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </multi-checkbox-container>

    </md-content>



    <div class="modal-footer" id="add-service-footer">
        <button type="button" class="btn btn-secondary left flat-button right-padding-button"
        zdata-dismiss="modal" ng-click="setAllCheckBoxes(true)">
          <i class="fa fa-check green"></i>
          Select All / Change All At Once
        </button>
        <button type="button" class="btn btn-secondary left flat-button"
        zdata-dismiss="modal" ng-click="setAllCheckBoxes(false)">
        <i class="fa fa-times red"></i>
          Deselect All
        </button>

        <button type="button" class="btn btn-secondary flat-button" ng-click="closeModal()" zdata-dismiss="modal">
          OK
        </button>
    </div>

    <span ng-show="false" ng-init="rerenderSliders()"></span>
</form>
