<!--    controller for seeding/packaging/cleaning data binding, will use service to get list of selected layers-->
    <div ng-show="$root.isMapCurrentView()">

<!--        vertical tab to display/hide settings panel, located on right hand side of settings div-->
        <uib-tabset id="verticalTab" ng-class="{'verticalTabOpen' : $root.sideNavOpen, 'verticalTabHidden' : !$root.settingsPanelOpen && $root.sideNavOpen}" active="activePill" type="pills">
            <uib-tab index="3" heading="Job Panel" ng-click="$root.toggleSettingsPanel()" title="Open Job Panel">

                <div id="settings-nav" ng-class="{'open' : $root.sideNavOpen, 'settings-nav-hidden' : !$root.settingsPanelOpen && $root.sideNavOpen}">

                <ul class="nav nav-tabs">
                    <li ng-class="{'active' : $ctrl.currentTab == 'seeding'}"><a ng-click="$ctrl.setCurrentTab('seeding')">Seeding</a></li>
                    <li ng-class="{'active' : $ctrl.currentTab == 'packaging'}"><a ng-click="$ctrl.setCurrentTab('packaging')">Packaging</a></li>
                    <li ng-class="{'active' : $ctrl.currentTab == 'cleaning'}"><a ng-click="$ctrl.setCurrentTab('cleaning')">Cleaning</a></li>
                </ul>

                <div class="job-panel-content">

                <!-- Wrapper for Server Space Section (only show on Cleaning tab) -->
                <div ng-show="$ctrl.currentTab == 'cleaning'">

                    <div class="job-panel-label"> Server Space </div>

                    <div class="space-available-cleaning-wrapper">

                        <!-- Show if still fetching server space -->
                        <div ng-show="$ctrl.serverSpaceFetchingStatus == 'fetching'">
                           Fetching Available Server Space
                        </div>

                        <!-- Show info if server space details have been fetched -->
                        <div ng-show="$ctrl.serverSpaceFetchingStatus == 'completed'">

                            <span title="Amount of space used by GPEP's map caches on the server.">
                                <b>{{$ctrl.usedServerSpace | filesize}}</b> Used
                            </span>
                            <br>
                            <span title="Amount of space available for caching map data on the server.">
                                <b>{{$ctrl.freeServerSpace | filesize}}</b> Remaining
                            </span>
                            <uib-progressbar title="{{$ctrl.usedServerSpacePercentage | number:0}}% of space on the GPEP server is taken by cached map data."
                            class="space-available-bar" animate="false" value="$ctrl.serverPercentageMinWidth" type="success">
                            </uib-progressbar>

                        </div>

                        <div ng-show="$ctrl.serverSpaceFetchingStatus == 'error'">
                            Available Server Space could not be retrieved.
                        </div>
                        <hr style="width: 100%">
                    </div>


                </div>







                <!-- Inputs that are shared across Seeding, Packaging, and Cleaning tabs -->
                <div ng-include="'components/settings-panel/settings_panel_shared_inputs.html'"></div>

                    <!-- ************************ Seeding Tab ***************************** -->




                        <!-- Note: ng-form provides similar behavior to form, except that it allows
                        nesting.  This means a parent form is only valid if all of its child forms
                        are valid.  This is useful to us for checking to see if the shared inputs
                        form is valid within any of the tabs.  Using a regular form in this instance
                        will result in errors, as browsers ignore standard nested forms. -->
                        <ng-form name="seedingForm" ng-show="$ctrl.currentTab == 'seeding'" novalidate>

                              <!-- Help block which appears when no layers are selected -->
                              <div ng-include="'components/settings-panel/layer_selection_requirement.html'"></div>

                              <!-- Seeding Button -->
                              <button id="seeding-btn" type="submit" class="btn btn-primary"
                              ng-class="{ 'invalid' : seedingForm.$invalid || $ctrl.sharedForm.$invalid || !($ctrl.areAnyLayersSelected()) }"
                               data-toggle="modal" data-target="#seedingSizeModal"
                               ng-click="$ctrl.attemptStartSeeding(seedingForm);">
                                  Start Seeding
                              </button>

                        </ng-form>

                        <!-- ************************ Packaging Tab ***************************** -->

                        <ng-form name="packagingForm" ng-show="$ctrl.currentTab == 'packaging'" novalidate>
                            <!-- Export Type Selection -->
                            <div class=input-wrapper>
                                  <div class="job-panel-label">Export Type</div>
                                  <select name="exportType" class="form-control end-zoom" ng-model="$ctrl.packageSettings.exportType"
                                          ng-init="$ctrl.packageSettings.exportType='NSG_4326_GEOPACKAGE'" required>
                                      <!-- For now, until more packaging parameters are provided in the front-end, the
                                           select option values are made a bit more verbose so that it can be tokenized
                                           for use in the job factory when initializing the job parameters. -->
                                      <option value="NSG_4326_GEOPACKAGE">NSG GeoPackage (EPSG:4326)</option>
                                      <option value="NSG_3395_GEOPACKAGE">NSG GeoPackage (EPSG:3395)</option>
                                      <option value="NW_3857_GEOPACKAGE">Nett Warrior GeoPackage</option>
                                      <option value="ESRI_4326_COMPACT1">Compact Cache v1 (EPSG:4326)</option>
                                      <option value="ESRI_4326_COMPACT2">Compact Cache v2 (EPSG:4326)</option>
                                  </select>
                            </div>

                            <!-- Help block which appears when no layers are selected -->
                            <div ng-include="'components/settings-panel/layer_selection_requirement.html'"></div>

                            <!-- Packaging Button -->
                            <button id="packaging-btn" type="submit" class="btn btn-primary"
                                    ng-class="{ 'invalid' : packagingForm.$invalid || $ctrl.sharedForm.$invalid ||  !($ctrl.areAnyLayersSelected()) }"
                                    data-toggle="modal" data-target="#seedingSizeModal"
                                    ng-click="$ctrl.attemptStartPackaging(packagingForm);">
                                Start Packaging
                            </button>
                        </ng-form>

                      <!-- ************************ Cleaning Tab ***************************** -->


                          <ng-form name="cleaningForm" ng-show="$ctrl.currentTab == 'cleaning'" novalidate>

                                <div class="job-panel-label"> Clean tiles prior to: </div>

                                <div id="cleaning-calendar" style="width:100%;" class="datepicker-float-above datepicker-popup-padding">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.cleanSettings.date"
                                        ng-init="calPopup.open=false" is-open="calPopup.open"
                                        datepicker-options="{showWeeks: false}" show-button-bar="false"
                                        ng-required="true" close-text="Close" popup-placement="left" showWeeks="false"/>

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="calPopup.open = !calPopup.open;">
                                                <span class="fa fa-calendar-o" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </p>
                                </div>

                                <hr style="width: 100%">

                                <!-- Help block which appears when no layers are selected -->
                                <div ng-include="'components/settings-panel/layer_selection_requirement.html'"></div>

                                <!-- Cleaning Button -->
                                <button style="clear: both" id="cleaning-btn" type="submit" class="btn btn-primary"
                                ng-class="{ 'invalid' : cleaningForm.$invalid || $ctrl.sharedForm.$invalid || !($ctrl.areAnyLayersSelected()) }"
                                 data-toggle="modal" data-target="#cleaningSizeModal"
                                 ng-click="$ctrl.attemptStartCleaning(cleaningForm);">
                                    Start Cleaning
                                </button>

                            </ng-form>
                    </div>   <!-- closing tag for job-panel-content -->

                </div>
            </uib-tab>
        </uib-tabset>
    </div>
