

<div id=cancel-job-modal>

    <div class="modal-header red-modal-header">
        <span ng-switch="$ctrl.job.status">
            <h4 ng-switch-when="inProgress" class="modal-title">Cancel {{$ctrl.job.job_type}} job {{$ctrl.job.id}}?</h4>
            <h4 ng-switch-default class="modal-title">Clear  {{$ctrl.job.job_type}} job {{$ctrl.job.id}}?</h4>
    </div>

    <div class="modal-body">
        <!-- <pre>
        {{$ctrl.job | json}}
        </pre> -->

        <div class="row">
            <span class="col-xs-2" style="width: 24.4%; padding-right: 0px;">

                <!-- Show X icon for canceling when job is still in progress, but show
                delete icon for clearing the job once it's complete. -->
                <span ng-switch="$ctrl.job.status">
                    <i ng-switch-when="inProgress" class="material-icons cancel-modal-x-icon">clear</i>
                    <i ng-switch-when="complete" class="material-icons clear-modal-icon">delete</i>
                    <i ng-switch-when="canceled" class="material-icons clear-modal-icon">delete</i>
                </span>

                <span ng-switch="$ctrl.job.job_type">
                    <i ng-switch-when="package" class="fa fa-lg fa-cubes package-color type-icon"></i>
                    <i ng-switch-when="seed" class="fa fa-lg fa-cloud-download seed-color type-icon"></i>
                    <i ng-switch-when='clean' class="fa fa-lg fa-eraser clean-color type-icon"></i>
                    <i ng-switch-when='export' class="fa fa-lg fa-share export-color type-icon"></i>
                </span>
            </span>

            <!-- CANCELLING a job - while it is in progress - help text -->
            <span ng-if="$ctrl.job.status == 'inProgress'" ng-switch="$ctrl.job.job_type" class="col-xs-10">
                <span ng-switch-when="package">
                    All compeleted packaging tasks will still be available for download.
                    However, partially complete packaging jobs will have all their packaging data erased.
                </span>

                <span ng-switch-when="seed">
                    All tiles that have already been cached in this seed job will stay cached on
                    the GPEP server.
                </span>

                <span ng-switch-when="clean">
                    This does not undo the clean job.  Tiles that have already been removed
                    during the course of the clean job will remain deleted.
                </span>

                <span ng-switch-when="export">
                    Any completed export tasks will still be available for download.  However,
                    export tasks which have not been completed will have their partially built .pep files wiped from the server.
                </span>

                <span ng-switch-default>
                    Invalid job type "{{$ctrl.job.job_type}}" returned from the server.
                </span>
            </span>

            <!-- CLEARING a job - once it has completed - help text -->
            <span ng-if="!($ctrl.job.status == 'inProgress')" ng-switch="$ctrl.job.job_type" class="col-xs-10">
                <span ng-switch-when="package">
                    All packages created by this job will be wiped from the GPEP server.
                </span>

                <span ng-switch-when="seed">
                    All tiles that have already been cached in this seed job will stay cached on
                    the GPEP server.
                </span>

                <span ng-switch-when="clean">
                    This does not undo the clean job.  Tiles that have already been removed
                    during the course of the clean job will remain deleted.
                </span>

                <span ng-switch-when="export">
                    All .pep files associated with this export job will be wiped from the GPEP server.
                </span>

                <span ng-switch-default>
                    Invalid job type "{{$ctrl.job.job_type}}" returned from the server.
                </span>
            </span>

        </div>


    </div>
    <div class="modal-footer">


        <!-- Show cancel button if job in progress -->
        <button ng-if="$ctrl.job.status == 'inProgress'" class="btn btn-danger"
        type="button" ng-click="$ctrl.cancelJob(); $ctrl.closeModal();">Ok</button>

        <!-- Show clear button if job complete or canceled -->
        <button ng-if="$ctrl.job.status == 'complete' || $ctrl.job.status == 'canceled' || $ctrl.job.status == 'failed'"
         class="btn btn-danger" type="button" ng-click="$ctrl.clearJob();
         $ctrl.closeModal();">Ok</button>


        <button class="btn" type="button" ng-click="$ctrl.closeModal()">Cancel</button>
    </div>

</div>
