<div class="modal-header info-modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Job Details</h4>
</div>
<div class="modal-body job-details-modal-body">

    <div ng-if="$ctrl.job && $ctrl.job.job_type == 'export' ">
        <h4>Job Parameters</h4>
        <table class="table table-bordered">
            <tr>
                <td>Exported Service</td>
                <td>{{$ctrl.job.tasks[0].name}}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{$ctrl.job.created_at | date: "MMM d, y"}} at {{$ctrl.job.created_at | date: "shortTime"}}</td>
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{$ctrl.job.percent}}%</td>
            </tr>
            <tr ng-if="task.ETA.length">
                <td>ETA</td>
                <td>{{task.eta | date: "MMM d, y"}} at {{task.eta | date: "shortTime"}}</td>
            </tr>
        </table>

    </div>



    <div ng-if="$ctrl.seedCleanPackageJob()">

        <h4>Job Parameters</h4>
        <table class="table table-bordered">
            <tr>
                <td>Created</td>
                <td>{{$ctrl.job.created_at | date: "MMM d, y"}} at {{$ctrl.job.created_at | date: "shortTime"}}</td>
            </tr>
            <tr>
                <td>Cache Format</td>
                <td>{{$ctrl.job.cache_format}}</td>
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{$ctrl.job.percent}}%</td>
            </tr>
            <tr>
                <td>Min Zoom</td>
                <td ng-show="$ctrl.job.min_zoom != null">{{$ctrl.job.min_zoom}}</td>
                <td ng-show="$ctrl.job.min_zoom == null">Varies Between Layers</td>
            </tr>
            <tr ng-show="$ctrl.job.max_zoom">
                <td>Max Zoom</td>
                <td ng-show="$ctrl.job.max_zoom != null">{{$ctrl.job.max_zoom}}</td>
                <td ng-show="$ctrl.job.max_zoom == null">Varies Between Layers</td>
            </tr>
        </table>

        <h4>Layer Parameters</h4>
        <div ng-repeat="task in $ctrl.job.tasks">
            <div ng-repeat="layer in task.layers">
                <h5>{{layer.title}}</h5>
                <table class="table table-bordered">
                    <tr ng-if="task.started_at">
                        <td>Started</td>
                        <td>{{task.started_at | date: "MMM d, y"}} at {{task.started_at | date: "shortTime"}}</td>
                    </tr>
                    <tr>
                        <td>Progress</td>
                        <td>{{task.progress.percent}}%</td>
                    </tr>
                    <tr ng-if="task.progress.eta">
                        <td>ETA</td>
                        <td>{{task.progress.eta | date: "MMM d, y"}} at {{task.progress.eta | date: "shortTime"}}</td>
                    </tr>
                    <tr>
                        <td>Min Zoom</td>
                        <td>{{layer.min_zoom}}</td>
                    </tr>
                    <tr>
                        <td>Max Zoom</td>
                        <td>{{layer.max_zoom}}</td>
                    </tr>
                    <tr>
                        <td>Bounds (NSEW)</td>
                        <td>{{layer.max_y | number: 5}},
                          {{layer.min_y | number: 5}},
                          {{layer.max_x | number: 5}},
                          {{layer.min_x | number: 5}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> <!-- End tag for seedCleanPackageJob section -->



</div>
