
.progress-page{

  .search-input-group{
      width:50%;
      margin-bottom:30px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

      input {
          border-radius: 0;
      }

      button {
          border-radius: 0;
      }
  }

    .package-color {
        color: #a2897d;
    }
    .seed-color {
        color: #79c185;
    }

    .clean-color {
        color: #f0a4b1;
    }

    .export-color {
        color: #7ba4d5;
    }

     $job-progress-font-color: #616161;

}
