.side-nav-wrapper {

    .service-caret {
      color: #bbbbbb;
      padding-right: 5px;
    }

    .cache-type-indicator a{
        color: #727272;
        font-weight: normal;
        word-break: keep-all;
        margin-left: 2px;
    }

    .dragIcon{
        position: relative;
        right: 2px;
    }
    .fa-eye,.fa-eye-slash{
        position: relative;
        left: 2px;
    }
    .fa-eye-slash{
        color: #9c9c9c;
    }

    .fa-times{
        position: relative;
        right: 2px;
    }

    .dragItem .col-xs-7{
        padding: 0;
    }

    .dragItem .col-xs-2{
        padding-right: 0;
    }

    .dragItem .col-xs-3{
        padding-left: 0;
    }



    /* makes words without spaces wrap in the side nav's layer list */


    /* without this, long layer names without spaces get cut off */

    .list-group-item {
        word-break: break-all;
        padding: 15px;
    }
    .list-group-item label{
        font-weight: 200;
    }

    .base-layer-in-selected-layers {
        user-select: none;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
    }

    /* Hacking mfb (floating button) library, to remove padding around the add
       service button.  When present this padding shields the scroll bar from
       being clickable */

    .navbar-add-service-btn > .mfb-component__wrap {
        padding: 0px;
        margin: 0px;
    }

    #fab > ul {
        outline: 0px;
    }

    #side-nav[class~=open] {
        left: 0;
        transition: .3s;
        -webkit-transition: .3s;
    }

    .close {
        transition: .3s;
        -webkit-transition: .3s;
    }

    // force color of service name panels to be white
    .panel-default>.panel-heading {
        background-color: white;
    }

    // space between services in the side nav
    .panel-group {
        margin-bottom: 12px;
    }




    /* div within main sidebar wrapper, which contains services and layer names */


    /* This is scrollable, not the entire side-nav.  This way, the search bar and
       Add Service button stay in the same locations */



    .panel-collapse input[type=checkbox] {
        display: none;
    }

    .panel-collapse input[type="checkbox"]:checked + label {
        color: #418bb5;
        font-weight: 500;
    }

    .layerList .layer {

        border-bottom: #e2e2e2 solid 1px;
        position: relative;

        .layer-label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            font-weight: 200;
            padding: 15px;
            padding-right: 0px;
            width: 85%;
            word-break: break-all;
        }

        .layer-menu-dropdown {
            position: absolute;
            top: 0px;
            right: 0px;
            color: gray;
            cursor: pointer;
            width: 15%;
            height: 40px;
        }

        .layer-menu-toggle {
            position: absolute;
            right: 20px;
            top: 20px;
        }

        &.base-layer input[type="checkbox"]:checked + label {
            color: green;
        }

        .base-layer-icon {
            color: #6aad84;
        }
    } // end of layerList wrapper

    .base-layer-label {
        white-space: pre;
        color: green;
    }

    // change color when hovering over items in sidenav
    .panel-heading:hover, .layerList .layer:hover {
        background-color: #f5f5f5 !important;
    }

    .panel-heading, .layerList label {
        cursor: pointer;
    }

    #side-nav-list {
      overflow-y: auto;
      position: absolute;
      padding-right: 15px;
      top: 55px;
      bottom: 0px;
      right: 0px;
      left: 14px;
    }

    // color of gears
    #side-nav-list .fa-cog {
        color: #646464;
    }



    // icon alignment in child buttons, for Add Service speed-dial
    .mfb-component__child-icon {
        line-height: 45px;
        font-size: 16px;
    }

    // tooltip color on Add Service speed dial
    [data-mfb-label]:after {
        background-color: #616161;
    }

    // UI Bootstrap adds awkward box shadow to dropdown menus
    // when those menus are toggleable. remove it.
    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }

    #side-nav {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        height: auto;
        top: 51px;
        bottom: 0;
        right: 0;
        left: -400px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 320px;
        position: fixed;
        /* Stay in place */
        z-index: 4;
        /*    margin:10px;*/
        background: #efefef;
        overflow-x: hidden;
        /* only side-nav-list should be scrollable, not whole side-nav wrapper*/
        overflow-y: hidden;
        /* Disable horizontal scroll */
        /* Place content 60px from the top */
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.48);
        transition: .3s;
        -webkit-transition: .3s;
    }


    .mfb-component__list .mfb-component__button--child {
        background-color: #2d456f;
        margin: 5px;
        color: #ffffff;
        height: 45px;
        width: 45px;
    }





} // end of side-nav-wrapper.  this wraps the entire contents of this file
